# Node.js
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log
.pnpm-debug.log

# Expo
.expo/
dist/
web-build/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# macOS
.DS_Store
*.pem

# React Native
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Android
build/
.idea/
.gradle/
local.properties
*.iml
*.hprof

# iOS
ios/build/
ios/Pods/
ios/.xcode.env.local
ios/Podfile.lock
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

# Testing
coverage/

# Editor specific
.vscode/
.idea/
*.swp
*.swo
